.main-page {
  position: relative;
}
.main-page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.main-page-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.main-page-logo {
  right: 28%;
  top: 33%;
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Nanum Gothic", sans-serif;
  padding: 50px 25px;
  animation: logomove 2s;
}
@keyframes logomove {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}
