.fire-info-weather {
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
}
.weather-info {
  width: 50%;
  position: relative;
  font-size: 23px;
}
.weather-info * {
  left: 6%;
}
.location-of-occurrence {
  position: absolute;
  top: 3%;
  font-size: 40px;
}
.temp {
  position: absolute;
  top: 25%;
}
.humi {
  position: absolute;
  top: 37%;
}
.wind {
  position: absolute;
  top: 49%;
}

.weather-image {
  width: 50%;
  position: relative;
}
#weathericon {
  width: 90%;
  position: absolute;
  top: 59px;
  right: -20px;
}

.fire-info-weather {
  /* background-color: rgb(186, 192, 255); */
  background: linear-gradient(
    to left,
    rgb(101, 127, 171),
    rgb(181, 196, 225),
    rgba(243, 246, 253, 0.857)
  );
  box-shadow: 20px 20px rgba(133, 134, 139, 0.181);
  border-radius: 30px;
}
@media screen and (min-width: 1800px) {
  #weathericon {
    right: -30px;
    top: 90px;
  }
}
