.fire-info-weather {
  display: flex;
}
.weather-info {
  width: 50%;
  position: relative;
  font-size: 25px;
}
.weather-info * {
  left: 20px;
}
.location-of-occurrence {
  position: absolute;
  top: 0px;
  font-size: 50px;
}
.temp {
  position: absolute;
  top: 70px;
}
.humi {
  position: absolute;
  top: 100px;
}
.wind {
  position: absolute;
  top: 130px;
}

.weather-image {
  width: 50%;
  position: relative;
}
#weathericon {
  width: 90%;
  position: absolute;
  top: 100px;
  right: -20px;
}
